.mainTitleWrap {
  background: rgba(10, 10, 26, 0.8);
  position: absolute;
  top: -28px;
  padding: 8px 0 6px 0;
  font-size: 12px;
  width: 104px;
  text-align: center;
  color: #5eb086;
  text-transform: uppercase;
}

.mainTitleWrap .mainTitle {
  font-size: 12px;
  text-transform: uppercase;
}

.topLine {
    background: rgb(102, 51, 255);
    background: -moz-linear-gradient(
      90deg,
      rgba(102, 51, 255, 0) 0%,
      rgba(247, 192, 34, 1) 50%,
      rgba(102, 51, 255, 0) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(102, 51, 255, 0) 0%,
      rgba(247, 192, 34, 1) 50%,
      rgba(102, 51, 255, 0) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(102, 51, 255, 0) 0%,
      rgba(247, 192, 34, 1) 50%,
      rgba(102, 51, 255, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6633ff",endColorstr="#6633ff",GradientType=1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
  }